DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=

DATABASE_PATH=./data/orders.sqlite
EUR_TO_USD_RATE=1.08

SUPPORT_ROLE_ID=
MANAGER_ROLE_ID=
ADMIN_ROLE_ID=
SERVER_BOOSTERS_ROLE_ID=

BOOST_TICKET_CATEGORY_ID=
CLAIM_ORDERS_CHANNEL_ID=
COMPLETED_JOBS_CHANNEL_ID=
AUDIT_LOG_CHANNEL_ID=
ORDER_HERE_CHANNEL_ID=
